.i-block {
    background-color: #6ae4df;
}

.o-block {
    background-color: #f3ec5b;
}

.t-block {
    background-color: #bb6de1;
}

.j-block {
    background-color: #4e91f7;
}

.l-block {
    background-color: #f7b44e;
}

.s-block {
    background-color: #6ae47a;
}

.z-block {
    background-color: #ff5046;
}